@config "../../../packages/strapi-ui/tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: properly extend dark tokens */
@layer base {
  .dark {
    --neutral-1000: #ffffff;
    --neutral-900: #ffffff;
    --neutral-800: #ffffff;
    --neutral-700: #eaeaef;
    --neutral-600: #a5a5ba;
    --neutral-500: #c0c0cf;
    --neutral-400: #a5a5ba;
    --neutral-300: #666687;
    --neutral-200: #4a4a6a;
    --neutral-150: #32324d;
    --neutral-100: #181826;
    --neutral-0: #212134;

    --primary-700: #7b79ff;
    --primary-600: #7b79ff;
    --primary-500: #4945ff;
    --primary-200: #4a4a6a;
    --primary-100: #181826;

    --secondary-700: #b8e1ff;
    --secondary-600: #66b7f1;
    --secondary-500: #66b7f1;
    --secondary-200: #4a4a6a;
    --secondary-100: #181826;

    --success-700: #c6f0c2;
    --success-600: #5cb176;
    --success-500: #5cb176;
    --success-200: #4a4a6a;
    --success-100: #181826;

    --danger-700: #ee5e52;
    --danger-600: #ee5e52;
    --danger-500: #ee5e52;
    --danger-200: #4a4a6a;
    --danger-100: #181826;

    --alternative-700: #e0c1f4;
    --alternative-600: #ac73e6;
    --alternative-500: #ac73e6;
    --alternative-200: #4a4a6a;
    --alternative-100: #181826;

    --warning-700: #fae7b9;
    --warning-600: #f29d41;
    --warning-500: #f29d41;
    --warning-200: #4a4a6a;
    --warning-100: #181826;
  }
}
